packages: [
  "atom-elixir"
  "atom-ide-debugger-node"
  "atom-ide-ui"
  "atom-keyboard-macros-vim"
  "atom-shell-commands"
  "atom-typescript"
  "autocomplete-html-entities"
  "busy-signal"
  "highlight-selected"
  "indent-guide-improved"
  "intentions"
  "language-docker"
  "language-elixir"
  "language-lua"
  "linter"
  "linter-ui-default"
  "minimap"
  "minimap-highlight-selected"
  "package-sync"
  "prettier-atom"
  "terminal-tab"
  "vim-mode-plus"
]
